*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background: #585454;
    color: #fff;
    line-height: 1.5;
}

.container{
    width: 100%;
    margin: auto;
}

.showcase{
    width: 100%;
    height: 300px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 80px;
}

.showcase h2{
    margin-bottom: 10px;
}

.showcase p{
    margin-bottom: 30px;
}

a{
    color: #fff;
    text-decoration: none;
}

.btn{
    display: inline-block;
    background: #585454;
    padding: 15px 20px;
}

.btn:hover{
    opacity: 0.9;
}

.section1{
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #0e0e0e;
    padding-top: 30px;
    padding-bottom: 50px;
    justify-content: center;
}
.section1 h3{
    margin-bottom: 10px;
}
.web{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    width: 80%;
    margin: auto;
}

.section2{
    margin: 30px auto;
    width: 80%;
    height: 400px;
    background: #585454;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
} 

.section2 img{
    width: 100%;
    margin-bottom: 20px;
}
.section2 h4{
    margin-bottom: 5px;
}

.box1{
    background-color: #fff;
    color: #0e0e0e;
}
.box2{
    background-color: #fff;
    color: #0e0e0e;
}
.box3{
    background-color: #fff;
    color: #0e0e0e;
}

.section3{
    text-align: center;
    align-items: center;
    background-color: #fff;
    color: #0e0e0e;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section3 h3{
    margin-bottom: 50px;
}

.section4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.section4 h3{
    margin-bottom: 40px;
}

.section4 p{
    margin-bottom: 20px;
}
.box4{
    background-color: blue;
    padding-top: 50px;
    padding-bottom: 50px;
}
.box5{
    background: #585454;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #201f1f;
}

span{
    color: blue;
}

@media(max-width: 700px){
    .section1, .section3, .section4{
        grid-template-columns: repeat(2, 1fr);
        }
    .section2{
        height: fit-content;
        grid-template-columns: 1fr;
        }
}

@media(max-width: 500px){

    .showcase{
        height: fit-content;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .showcase h2 .showcase p{
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .section2, .section3, .section4{
        grid-template-columns: 1fr;
        }
    .footer{
        grid-template-columns: 1fr;
    }

    .section2{
        height: fit-content;
    }

    .web{
        grid-template-columns: 1fr;
    }

    .btn{
        padding: 10px 10px;
    }
}
